$light-color: #f4f4f4;
$font-stack: cursive;
$primary-color: #0e6cff;
// $primary-color: rgba(32, 80, 88, 0.5);
$secondary-color: #ff8700;

@function set-text-color($color){
    @if(lightness($color)>70){
        @return #333
    }
    @else{
        @return #fff
    }

}

@mixin set-background-color($color) {
    background-color: $color;
    color: set-text-color($color);
}

//Margin and padding classes
$spaceAmount:(1,2,3,4,5);

@each $space in $spaceAmount{
    .m-#{$space}{
        margin: #{$space}rem;
    }
    .my-#{$space}{
        margin: #{$space}rem 0;
    }
    .p-#{$space}{
        margin: #{$space}rem;
    }
    .py-#{$space}{
        margin: #{$space}rem 0;
    }
}
    
